<html>
<head>
</head>
<body>
    <%include partials/includeMenu.ejs %>
  <BR><BR><BR>
        <p>
            <medium><%= person%>, Here you are in the city of <%= cityName%> 
            </medium>
        </p>
        <p>
            <small><%= cityName%> : <%= tagline%></small>
        </p> class="help-block text-center">
            <img src='/images/<%=cityName%>.jpg'></img>
        </p>
 </body>
 </html>

